div{
  font-family: 'Oswald', sans-serif;
}
a{
  font-family: 'Roboto', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
.header{
  padding: 40px 11px 0 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.wrapper{
  margin: auto;
  width: 80%;
}
.logo{
  // padding: 40px 0;
// font:bold 24px/31px pt_serifregular,arial,helvetica,sans-serif;
width: 190px;
height: 35px;
background:url('img/logo.svg') ;
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px robotobold,arial,helvetica,sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:after{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s;
}
.menu__item:hover{
  opacity: 0.5;
}
.menu__item:hover:after{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:hover:after, .menu__item_active:after{
  opacity: 1;
  width: 100%;
}
.menu__item:last-child{
  margin-right:0;
}
.main{
  margin: 0 5px 0 0;
  padding: 200px 63% 150px 3px;
  background: url(img/mainimg.svg);
  background-repeat: no-repeat;
  background-position: right ;
}

.main__title{
  width: 567px;
  height: 255px;
  margin: -108px 0 40px 0;
  font: 700 66px/87px pt_serifbold,arial,helvetica,sans-serif;
}
.main__title-text_highlight{
  background:#ECF3FF;
}
.main__subtitle{
  margin: 0 0 41px 0;
  height: 52px;
  width: 455px;
  left: 195px;
  top: 613px;
  border-radius: nullpx;
  font: 400 22px/25px robotoregular ,arial,helvetica,sans-serif;
}
.main__button{
  display: inline-block;
  height: 22px;
  width: 227px;
  margin: 0 5px 0 0;
  padding: 18px 18px 18px 25px;
  font-family: robotoregular ,arial,helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background:#0056EC;
  text-decoration: none;
  border-radius: nullpx;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover{
  opacity:.5;
}
