div{
  font-family: 'Oswald', sans-serif;
}
a{
  font-family: 'Roboto', sans-serif;
}
h1{
  color: red;
}
body{
  margin: 0;
}
.header{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.wrapper{
  margin: auto;
  width: 80%;
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  padding: 0 13px;
}
.menu__item:last-child{
  padding-right: 0;
}
.logo{
  // padding: 40px 0;
// font:bold 24px/31px pt_serifregular,arial,helvetica,sans-serif;
width: 190px;
height: 35px;
background:url('img/logo.svg') ;
}
